body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;

    background-color: #ffffff;
}
*:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
a {
    text-decoration: none;
    color: #000000;
}

header {
    margin: 0;
    padding: 50px 0 0;
    background-color: #eeeeee;
}
header .nerds-menu {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.nerds-menu-list,
.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.nerds-menu-item .main-logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 60px;
}

.nerds-menu-item .menu-page,
.nerds-menu-item .menu-page {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 550px;
}
.navigation-list-item {
    margin-right: 45px;
}
.navigation-list-item:last-child {
    margin-right: 0;
}
.nerds-menu-item .menu-page:hover {
    color: #fb565a;
}
.nerds-menu-item .menu-page:active {
    color: #bdbdbd;
}
.nav-current {
    border-bottom: 2px solid #fb565a;
}
.main-logo img:hover {
    opacity: 0.8;
}
.main-logo img:active {
    opacity: 0.3;
}
.nav-preview {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}
.nav-form {
    position: relative;
    margin: 0;
    padding: 0;
}
.nav-form section {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
}
.nav-form section .slide-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 520px;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    text-align: left;
}
.nav-form section .slide-img {
    position: relative;
    width: 100%;
    height: 430px;
    text-align: right;
}
.nav-form section .slide-img img {
    position: absolute;
    right: 0;
}

.nav-form section .slide-1-img img {
    bottom: 0;
}
.nav-form section .slide-2-img img {
    top: 0;
}
.nav-form section .slide-3-img img {
    bottom: 0;
}

section .slide-text h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 550px;
    line-height: 55px;
    margin-bottom: 30px;
    overflow-x: visible;
}
section .slide-text p {
    width: 420px;
    margin-bottom: 40px;
}
section .slide-text a,
.map-adress .addres-place a,
.form-write-us .form-button {
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 2px;
}
section .slide-text a {
    width: 240px;
}
section .slide-text a:hover,
.map-adress .addres-place a:hover,
.form-write-us .form-button:hover {
    background-color: #e74246;
}
section .slide-text a:active,
.map-adress .addres-place a:active,
.form-write-us .form-button:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px solid #c13135;
    padding-top: 12px;
}
.section .slide-text a {
    width: 240px;

}

.nav-preview .label-slides {
    position: absolute;
    left: 560px;
    bottom: 90px;
    display: flex;
    width: 90px;
    justify-content: space-between;
}
.nav-preview .label-slides label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
}
.input-hidden {
    position: absolute;
    top: -1000px;
    left: 0;
}
#input-slide-1:checked ~ .label-slides label:nth-of-type(1),
#input-slide-2:checked ~ .label-slides label:nth-of-type(2),
#input-slide-3:checked ~ .label-slides label:nth-of-type(3) {
    background-image: radial-gradient(circle, transparent 2px, #c2c2c2 2px, #c2c2c2 5px, transparent 5px);
}
input:checked + section {
    display: block;
}
/* MAIN CONTAINER*/

.container {
    margin: 0 auto;
    padding: 80px 0 0;
    width: 1160px;
}

.container .profile {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: 2px solid #eeeeee;
}

.container .profile .profile-item {
    width: 300px;
    margin-right: 100px;
}
.container .profile .profile-item:last-child {
    margin-right: 0;
}
.profile-item .profile-img {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}
.profile-item h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.profile-item p {
    margin: 0;
    padding: 0;
    margin-bottom: 35px
}
.profile-item .profile-button {
    margin: 0;
    padding: 20px 40px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px; 
}
.profile-item .button-red {
    background-color: #fb565a;
}
.profile-item .button-green {
    background-color: #00ca74;
}
.profile-item .button-yellow {
    background-color: #efc849;
}

.container .about-us {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 40px 0 78px;
    border-bottom: 2px solid #eeeeee;
}
.about-us .who-we-are {
    width: 660px;
}
.who-we-are h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}
.who-we-are .principles {
    margin-bottom: 40px;
}
.who-we-are .kinds-of-work {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.who-we-are .kinds-list {
    margin: 0;
    padding: 0;
}
.kinds-list .kinds-list-item p {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 35px;
    display: flex;
}
.kinds-list .kinds-list-item:last-child p {
    margin-bottom: 0;
}
.kinds-list .kinds-list-item p::before {
    content: '';
    position: absolute;
    left: -35px;
    align-self: center;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.profile-item:nth-child(1) .button-red:hover {
    background-color: #e74246;
}
.profile-item:nth-child(1) .button-red:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px solid #c13135;
    box-sizing: padding-box;
    padding-top: 17px;
}
.profile-item:nth-child(2) .button-green:hover {
    background-color: #00bc6c;
}
.profile-item:nth-child(2) .button-green:active {
    background-color: #00aa62;
    color: #4dc491;
    border-top: 3px solid #009958;
    box-sizing: padding-box;
    padding-top: 17px;
}
.profile-item:nth-child(3) .button-yellow:hover {
    background-color: #eab534;
}
.profile-item:nth-child(3) .button-yellow:active {
    background-color: #e5a722;
    color: #edc265;
    border-top: 3px solid #ce961f;
    box-sizing: padding-box;
    padding-top: 17px;
}

.about-us .benefits {
    width: 360px;
}
.about-us .about-us-image {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.about-us-item .text-uppercase {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 45px;
}
.about-us-item .benefits-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.benefits-list .benefits-list-item {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.benefits-list .benefits-list-item p {
    margin: 0;
    padding: 0;
}
.benefits-list .benefits-list-item .benefits-percent {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}
.benefits-percent .percent {
    font-size: 0.5em;
    line-height: 1em;
    vertical-align: top;
    margin-top: 3px;    
}
.benefits-list-item .benefits-text {
    line-height: 18px;
} 
.benefits-list-item .benefits-text::first-letter {
    text-transform: uppercase;
} 

.companions {
    margin: 0;
    padding: 45px 0;
    border-bottom: 2px solid #eeeeee;
}
.companions .companions-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.companions-list .companions-list-item a {
    opacity: 0.2;
}
.companions-list .companions-list-item a:hover {
    opacity: 1;
}
.companions-list .companions-list-item a:active {
    opacity: 0.1;
}


/*FOOTER*/


.footer .map-adress {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 75px;
    width: 100%;
}
.footer .map-adress .addres-place {
    position: absolute;
    left: 140px;
    top: 55px;
    width: 320px;
    margin: 0;
    padding: 50px;
    background-color: #ffffff;
    text-align: left;
    font-style: normal;
    box-sizing: border-box;
}
.map-adress .addres-place h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.map-adress .addres-place p {
    color: #666666;
    line-height: 18px;
    margin-bottom: 20px;
}
.map-adress .addres-place a {
    margin-top: 35px;
}

.footer-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    padding: 70px 0;
    background-color: #ffffff;
}
.footer-social .social-list {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    margin-right: 140px;
}
.footer-social .social-list .social-item {
    margin-right: 10px;
}
.footer-social .social-list .social-item:last-child {
    margin-right: 0;
}
.social-list .social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    text-align: center;
}
.social-list .social-item a:hover {
    background-color: #e74246;
}
.social-list .social-item a:active {
    background-color: #d7373b;
}
.social-item a:active svg path {
    fill: #e37376;
}

.social-text .about-friendship {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000; 
}
.social-text .about-discount {
    margin: 0;
    padding: 0;
    line-height: 22px;
    color: #444444;
}

/*FORM LOG-IN*/

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    width: 960px;
    margin: 0;
    margin-left: -480px;
    margin-top: -310px;
    padding: 70px 100px 0;
    box-sizing: border-box;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.form-write-us {
    margin: 0 auto;  
}
.form-write-us h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    background-color: #ffffff;
}

.form-block p {
    margin: 0;
    padding: 0;
}

.form-write-us .form-wu-item label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;

}
.form-write-us .form-block {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}
.form-block .half input {
    width: 360px;
}
.form-write-us .fool {
    margin: 0;
    padding: 0;
    margin-bottom: 45px; 
}

.form-block p input,
.fool textarea {
    margin: 0;
    padding: 15px;
    display: block;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    box-sizing: border-box;
}
.fool textarea {
    width: 100%;
    resize: none;
}
.form-block p input::placeholder,
.form-write-us p textarea::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: #b1b1b1;
}
.form-write-us .form-button {
    margin-bottom: 85px;
    width: 260px;
}
.form-write-us .form-close {
    position: absolute;
    right: 90px;
    top: 80px;
}

.form-close {
    position: relative;
    width: 27px;
    height: 27px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.form-close::before,
.form-close::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 5px;
    height: 27px;
    background-color: #fecccd;
    
}
.form-close::before {
    transform: rotate(45deg);
}
.form-close::after {
    transform: rotate(-45deg);
}