body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;

    background-color: #ffffff;
}
*:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
a {
    text-decoration: none;
    color: #000000;
}

header {
    margin: 0;
    padding: 50px 0 0;
    background-color: #eeeeee;
}
header .nerds-menu {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.nerds-menu-list,
.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.nerds-menu-item .main-logo {
    display: block;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 60px;
}

.navigation-list-item .menu-page,
.nerds-menu-item .basket-href {
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 550px;
}
.nerds-menu-item .basket-href img {
    margin-right: 25px;
}

.navigation-list-item {
    margin-right: 45px;
}
.navigation-list-item:last-child {
    margin-right: 0;
}
.nerds-menu-item .menu-page:hover {
    color: #fb565a;
}
.nerds-menu-item .menu-page:active {
    color: #bdbdbd;
}
.nav-current .menu-page {
    padding-bottom: 6px;
    border-bottom: 2px solid #fb565a;
}
.main-logo img:hover {
    opacity: 0.8;
}
.main-logo img:active {
    opacity: 0.3;
}
.nav-preview {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}
.nav-form {
    position: relative;
    margin: 0;
    padding: 0;
}
.nav-form section {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
}
.nav-form section .slide-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 520px;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    text-align: left;
    z-index: 2;
}
.nav-form section .slide-img {
    position: relative;
    width: 100%;
    height: 430px;
    text-align: right;
    z-index: 1;
}
.nav-form section .slide-img img {
    position: absolute;
    right: 0;
}

.nav-form section .slide-1-img img {
    bottom: 0;
}
.nav-form section .slide-2-img img {
    top: 0;
}
.nav-form section .slide-3-img img {
    bottom: 0;
}

section .slide-text h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
    font-weight: 550px;
    line-height: 55px;
    margin-bottom: 30px;
    overflow-x: visible;
}
section .slide-text p {
    width: 420px;
    margin-bottom: 40px;
}
section .slide-text a,
.map-adress .addres-place a,
.form-write-us .form-button {
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 2px;
    z-index: 1;
}
section .slide-text a {
    width: 240px;
}
section .slide-text a:hover,
.map-adress .addres-place a:hover,
.form-write-us .form-button:hover,
.block-price .price a:hover {
    background-color: #e74246;
}
section .slide-text a:active,
.map-adress .addres-place a:active,
.form-write-us .form-button:active,
.block-price .price a:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px solid #c13135;
    padding-top: 12px;
    z-index: 1;
}
.section .slide-text a {
    width: 240px;

}

.nav-preview .label-slides {
    position: absolute;
    left: 560px;
    bottom: 90px;
    display: flex;
    width: 90px;
    justify-content: space-between;
    z-index: 3;
}
.nav-preview .label-slides label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
}
.input-hidden {
    display: none;
}
#input-slide-1:checked ~ .label-slides label:nth-of-type(1),
#input-slide-2:checked ~ .label-slides label:nth-of-type(2),
#input-slide-3:checked ~ .label-slides label:nth-of-type(3) {
    background-image: radial-gradient(circle, transparent 2px, #c2c2c2 2px, #c2c2c2 5px, transparent 5px);
}
input:checked + section {
    display: block;
}


/* MAIN CONTAINER*/

.container {
    margin: 0 auto;
    padding: 80px 0 0;
    width: 1160px;
}

.container .profile {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: 2px solid #eeeeee;
}

.container .profile .profile-item {
    width: 300px;
    margin-right: 100px;
}
.container .profile .profile-item:last-child {
    margin-right: 0;
}
.profile-item .profile-img {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}
.profile-item h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.profile-item p {
    margin: 0;
    padding: 0;
    margin-bottom: 35px
}
.profile-item .profile-button {
    margin: 0;
    padding: 20px 40px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px; 
}
.profile-item .button-red {
    background-color: #fb565a;
}
.profile-item .button-green {
    background-color: #00ca74;
}
.profile-item .button-yellow {
    background-color: #efc849;
}

.container .about-us {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 40px 0 78px;
    border-bottom: 2px solid #eeeeee;
}
.about-us .who-we-are {
    width: 660px;
}
.who-we-are h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}
.who-we-are .principles {
    margin-bottom: 40px;
}
.who-we-are .kinds-of-work {
    text-transform: uppercase;
    margin-bottom: 30px;
}
.who-we-are .kinds-list {
    margin: 0;
    padding: 0;
}
.kinds-list .kinds-list-item p {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 35px;
    display: flex;
}
.kinds-list .kinds-list-item:last-child p {
    margin-bottom: 0;
}
.kinds-list .kinds-list-item p::before {
    content: '';
    position: absolute;
    left: -35px;
    align-self: center;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.profile-item:nth-child(1) .button-red:hover {
    background-color: #e74246;
}
.profile-item:nth-child(1) .button-red:active {
    background-color: #d7373b;
    color: #e37376;
    border-top: 3px solid #c13135;
    box-sizing: padding-box;
    padding-top: 17px;
}
.profile-item:nth-child(2) .button-green:hover {
    background-color: #00bc6c;
}
.profile-item:nth-child(2) .button-green:active {
    background-color: #00aa62;
    color: #4dc491;
    border-top: 3px solid #009958;
    box-sizing: padding-box;
    padding-top: 17px;
}
.profile-item:nth-child(3) .button-yellow:hover {
    background-color: #eab534;
}
.profile-item:nth-child(3) .button-yellow:active {
    background-color: #e5a722;
    color: #edc265;
    border-top: 3px solid #ce961f;
    box-sizing: padding-box;
    padding-top: 17px;
}

.about-us .benefits {
    width: 360px;
}
.about-us .about-us-image {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.about-us-item .text-uppercase {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 45px;
}
.about-us-item .benefits-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.benefits-list .benefits-list-item {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.benefits-list .benefits-list-item p {
    margin: 0;
    padding: 0;
}
.benefits-list .benefits-list-item .benefits-percent {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}
.benefits-percent .percent {
    font-size: 0.5em;
    line-height: 1em;
    vertical-align: top;
    margin-top: 3px;    
}
.benefits-list-item .benefits-text {
    line-height: 18px;
} 
.benefits-list-item .benefits-text::first-letter {
    text-transform: uppercase;
} 

.companions {
    margin: 0;
    padding: 45px 0;
    margin-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}
.companions .companions-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.companions-list .companions-list-item a {
    opacity: 0.2;
}
.companions-list .companions-list-item a:hover {
    opacity: 1;
}
.companions-list .companions-list-item a:active {
    opacity: 0.1;
}


/*FOOTER*/


.footer .map-adress {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer .map-adress .addres-place {
    position: absolute;
    left: 140px;
    top: 55px;
    width: 320px;
    margin: 0;
    padding: 50px;
    background-color: #ffffff;
    text-align: left;
    font-style: normal;
    box-sizing: border-box;
}
.map-adress .addres-place h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.map-adress .addres-place p {
    color: #666666;
    line-height: 18px;
    margin-bottom: 20px;
}
.map-adress .addres-place a {
    margin-top: 35px;
}

.footer-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
    padding: 70px 0;
    background-color: #ffffff;
}
.footer-social .social-list {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    margin-right: 140px;
}
.footer-social .social-list .social-item {
    margin-right: 10px;
}
.footer-social .social-list .social-item:last-child {
    margin-right: 0;
}
.social-list .social-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    text-align: center;
}
.social-list .social-item a:hover {
    background-color: #e74246;
}
.social-list .social-item a:active {
    background-color: #d7373b;
}
.social-item a:active svg path {
    fill: #e37376;
}

.social-text .about-friendship {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #000000; 
}
.social-text .about-discount {
    margin: 0;
    padding: 0;
    line-height: 22px;
    color: #444444;
}

/*FORM LOG-IN*/

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    width: 960px;
    margin: 0;
    margin-left: -480px;
    margin-top: -310px;
    padding: 70px 100px 0;
    box-sizing: border-box;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.form-write-us {
    margin: 0 auto;  
}
.form-write-us h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    background-color: #ffffff;
}

.form-block p {
    margin: 0;
    padding: 0;
}

.form-write-us .form-wu-item label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;

}
.form-write-us .form-block {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}
.form-block .half input {
    width: 360px;
}
.form-write-us .fool {
    margin: 0;
    padding: 0;
    margin-bottom: 45px; 
}

.form-block p input,
.fool textarea {
    margin: 0;
    padding: 15px;
    display: block;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    box-sizing: border-box;
}
.fool textarea {
    width: 100%;
    resize: none;
}
.form-block p input::placeholder,
.form-write-us p textarea::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: #b1b1b1;
}
.form-write-us .form-button {
    margin-bottom: 85px;
    width: 260px;
}
.form-write-us .form-close {
    position: absolute;
    right: 90px;
    top: 80px;
}

.form-close {
    position: relative;
    width: 27px;
    height: 27px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.form-close::before,
.form-close::after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 5px;
    height: 27px;
    background-color: #fecccd;
    
}
.form-close::before {
    transform: rotate(45deg);
}
.form-close::after {
    transform: rotate(-45deg);
}

/*CATALOG-PAGE*/

.catalog header .catalog-preview {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.catalog-preview h1 {
    margin: 0;
    padding: 80px 0 115px;
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
}


.main-catalog-content {
    padding: 60px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main-catalog-content .catalog-form {
    margin: 0;
    padding: 0;
    width: 260px;
}
.main-catalog-content .catalog-content {
    margin: 0;
    padding: 0;
    width: 760px;
    flex-flow: column nowrap;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
fieldset legend,
.catalog-filter p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}
.catalog-filter p {
    width: 360px;
}
fieldset .price {
    margin-bottom: 50px;
}

/*FORM*/

.form-price .price-range {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 30px 20px;
    background-color: #eeeeee;
    box-sizing: border-box;
}
.form-price #price-range {
    width: 100%;
}
.form-price .from-to {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}
.from-to p {
    width: 110px;
    line-height: 38px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.from-to p span {
    display: inline-block;
    line-height: 38px;
    width: 80px;
    text-align: center;
    background-color: #eeeeee; 
}
.form-price {
    margin-bottom: 60px;
}
.form-net,
.form-features {
    margin-bottom: 50px;
}
.form-net .net,
.form-features .features {
    margin-bottom: 20px;
}
.form-net .net-list .net-list-item,
.form-features .features-list .features-list-item {
    margin: 0;
    margin-bottom: 15px;
}
.form-net .net-list .net-list-item:last-child,
.form-features .features-list .features-list-item:last-child {
    margin-bottom: 0;
}
.net-list .net-list-item label,
.features-list .features-list-item label {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    line-height: 26px;
    color: #283136;
}
.label-radio::before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 25px;
    height: 25px;
    border: 4px solid #b8b8b8;
    border-radius: 50%;
    box-sizing: border-box;
}
.net-list .net-list-item label:hover,
.features-list .features-list-item label:hover {
    color: #4d4d4d;
}
.net-list .net-list-item label:hover::before,
.features-list .features-list-item label:hover::before {
    border-color: #4d4d4d;
}
input:checked + .label-radio:hover .radio-indicator {
    background-color: #4d4d4d;
}

.net-list-item input:checked + .label-radio .radio-indicator {
    position: absolute;
    left: 8px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #b8b8b8;
}
input:disabled + .label-checkbox:hover .checkbox-indicator::before {
    background-color: #4d4d4d;
}

.label-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px;
    border: 3px solid #b8b8b8;
    border-radius: 2px;
}

 input:checked + .label-checkbox .checkbox-indicator {
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 14px;
    height: 5px;
    border-left: 9px solid #ffffff;
    border-bottom: 9px solid #ffffff;
    transform: rotate(-45deg);
}
input:checked + .label-checkbox .checkbox-indicator::before {
    content: '';
    position: absolute;
    left: -7px;
    bottom: -7px;
    width: 16px;
    height: 7px;
    border-left: 5px solid #a6a6a6;
    border-bottom: 5px solid #a6a6a6;
}
input:checked + .label-checkbox:hover .checkbox-indicator::before {
    border-left-color: #4d4d4d;
    border-bottom-color: #4d4d4d;
}

.net-list-item input:disabled + label,
.features-list-item input:disabled + label {
    color: #ededed;
}
.net-list-item input:disabled + label::before,
.features-list-item input:disabled + label::before {
    border-color: #ededed;
}
.net-list-item input:disabled + .label-radio .radio-indicator {
    background-color: #ededed;
}
.features-list-item input:disabled + .label-checkbox .checkbox-indicator::before {
    border-left-color: #ededed;
    border-bottom-color: #ededed;
}


.show-button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 550px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    background-color: #eeeeee;
}
.show-button:hover {
    background-color: #dfdfdf;
}
.show-button:active {
    padding-top: 15px;
    border-top: 3px solid #bfbfbf;
    background-color: #d5d5d5;
    color: #a9a9a9;
}


/*CATALOG-CONTENT*/


.catalog-content div {
    margin: 0;
    padding: 0;
}
.catalog-content .catalog-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.catalog-filter .filter-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
}
.catalog-filter .filter-block .filter-list,
.catalog-filter .filter-block .href-list {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.filter-list-item a {
    font-size: 14px;
    line-height: 18px;
    color: #cacaca;
}
.filter-current a {
    color: #000000;
}
.filter-list .filter-list-item {
    margin-right: 25px;
}
.filter-list .filter-list-item:last-child {
    margin-right: 0;
}
.href-list .href-list-item:first-child {
    margin-right: 15px;
}
.href-list .href-list-item a {
    display: block;
    margin: 0;
    padding: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.href-list .href-list-item .down {
    border-top: 10px solid #ededed;
    border-bottom: none;
}
.href-list .href-list-item .up {
    border-top: none;
    border-bottom: 10px solid #ededed ;
}
.href-list .href-list-item .down:hover {
    border-top-color: #a6a6a6;
}
.href-list .href-list-item .up:hover {
    border-bottom-color: #a6a6a6;
}
.href-list .href-list-item .down:active,
.href-list .href-list-item .a-current {
    border-top-color: #000000;
}
.href-list .href-list-item .up:active {
    border-bottom-color: #000000;
}



/*CATALOG-CONTENT-ITEMS*/

.catalog-content .catalog-block {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.catalog-content .catalog-block .catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.catalog-block .catalog-list .catalog-item {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    background-color: #e5e5e5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.catalog-item:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25)
}

.catalog-item .choice-curcles {
    display: flex;
    margin: 0;
    padding: 15px;
    background-color: #e9e9e9;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.catalog-item .choice-curcles li {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}
.catalog-item .catalog-item-image {
    width: 360px;
    height: 576px;
    margin: 1px;
    padding: 0;
}
.catalog-item .catalog-item-image img {
    margin: 0;
    padding: 0;
}
.catalog-item .block-price {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px 0 40px;
    text-align: center;
    background-color: #eeeeee;
}
.block-price h3,
.block-price p {
    width: 200px;
    margin: 0 auto;
    padding: 0;
    line-height: 18px;
}
.block-price .item-name {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.block-price .about {
    width: 240px;
    margin-bottom: 30px;
    line-height: 18px;
    color: #666666;
}
.block-price .price a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    background-color: #fb565a;
    color: #ffffff;
    font-weight: 550px;
    text-transform: uppercase;
    border-radius: 2px;
}
.block-price .price a:active {
    color: #ffffff;
}
.catalog-item-current .choice-curcles {
    background-color: #4d4d4d;
}
.catalog-item-current .block-price {
    display: block;
}

.pages-list {
    display: flex;
    margin: 0;
    padding: 0;
}
.pages-list .pages-list-item {
    margin-right: 10px;
}
.pages-list .pages-list-item .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 0;
    padding: 17px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 550px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border-radius: 2px;
    
}
.pages-list .pages-list-item .page-current {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    width: 44px;
    padding: 14px 0;
    pointer-events: none;
}
.pages-list .pages-list-item .page-button-next {
    width: 230px;
    margin-right: 0;
}

.pages-list .pages-list-item .page-number:hover {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}
.pages-list .pages-list-item .page-number:active {
    padding-top: 14px;
    border-top: 3px solid #4d4d4d;
    background-color: #d5d5d5;
    color: #a9a9a9;
}
.modal-visual {
    display: block;
}
